@font-face {
    font-family: MazdaTypeRegular;
    src: url(../font/mazdatype.woff);
    src: url(../font/mazdatype.woff2);
    font-weight: normal;
}

body ,#popup{
    -webkit-touch-callout: none !important;
	-webkit-touch-action: none !important;
	-ms-touch-action : none !important;
	touch-action : none !important;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
body{
   
	overflow:hidden;
	background-color:#b4b4b4;
	/*background-image: url('../pages/large/page6-large.jpg');*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin:0;
	padding:0;
	font-family: MazdaTypeRegular,sans-serif;
	font-size: 13px;
	color: #333;
	line-height: 1.3;
}

@media screen and (min-width: 980px) {
    @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
         img {
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0);
            image-rendering: auto;
         }
    }
}

.notouch {
    -webkit-touch-callout: none;
	-webkit-touch-action: none;
	-ms-touch-action : none;
    touch-action: none;
}

#canvas{
	overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.magazine-viewport{
	-webkit-transition: 0.1s ease-in-out;
	-moz-transition: 0.1s ease-in-out;
	-o-transition: 0.1s ease-in-out;
	transition: 0.1s ease-in-out;
	cursor: zoom-in;
    /*width: 100%;
    height: 1000px;*/
    /*background-color: rgba(0,0,0,.5);*/
}
.magazine-viewport .container{
    position:relative;
}

.magazine-viewport .magazine{
    width: 100%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}


.magazine .region{
	position:absolute;
	overflow:hidden;
	background:rgba(255,0,0,0);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	cursor:pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

.magazine .region:hover{
	/*opacity:0;*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

.magazine .region.zoom{
	/*opacity:0;*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.magazine .region.zoom:hover{
	/*opacity:0;*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}
#popupVideo{
    position: absolute;
    
}
#popupVideo iframe{
    box-shadow: 0 0 20px rgba(0,0,0,0.5), 0 0 0 0px #ccc;
}
.CloseBtn{
    position: absolute;
    z-index: 2;
    top: -35px;
    right: -35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border: none;
    background: transparent;
}
.CloseBtn:before,.CloseBtn:after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    background: #fff;
}
.CloseBtn:after{
    transform: rotate(-45deg);
}
.CloseBtn::before{
    transform: rotate(45deg);
}
#jsmag{
    transform: scale(.90);
    overflow: visible !important;
}
#jssor_1{
    overflow: visible !important;
    z-index: 1;
    cursor: unset !important;
}
#zoomArea{
    width: 2000px;
    height: 2000px;
    background-color: rgba(255,0,0,0);
    transform: translate(-10%,-10%);
    position: absolute;
    z-index: -1;
}
#jsArea{
    /*box-shadow: 0 0 6px rgba(0,0,0,0.3), 0 0 0 0px #ccc;
    background-color: rgba(255,255,255,1);*/
    /*width: 2000px;
    height: 2000px;*/
    width:100%;
    height:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255,0,0,0);
}
#popup{
    position: relative;
    background-color: rgba(0,0,0,.5);
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    outline: 0;
}
/*
@media screen and (orientation: portrait) {
    #popup {
        width: 100%;
        height: 100%;
    }
}
@media screen and (orientation: landscape) {
    #popup {
        width: 100%;
        height: 100%;
    }
}
*/
#popup #popupVideo{
    position:absolute;
    top:50%;
	left:50%;
    transform: translate(-50%,-50%);
}
#context-menu {
    position: fixed;
    z-index: 10000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
}
#context-menu .item {
    padding: 8px 10px;
    font-size: 10px;
    color: #eee;
    cursor: pointer;
    border-radius: inherit;
}
#context-menu .item:hover {
    background: #343434;
}
#context-menu.visible{
    display: block;
}

#PageBtnLeft,
#PageBtnRight {
	position: absolute;
	top: 100px;
	bottom: 100px;
	z-index: 100;
	width: 36px;
	height: 36px;
	margin: auto 0;
	border-radius: 4px;
	cursor: pointer;
	color:#6d6e70;
	display: none;
	font-size:25px;
}
#PageBtnLeft {
	width: 15px;
	height: 15px;
	border: 3px solid;
	border-color: #565656 #565656 transparent transparent;
	transform: rotate(-135deg);
	left: 20px;
}
body.openMenu #PageBtnLeft {
	left: 285px;
}
#PageBtnRight {
	width: 15px;
	height: 15px;
	border: 3px solid;
	border-color: #565656 #565656 transparent transparent;
	transform: rotate(45deg);
	right: 20px;
}
#btnL,#btnR{
    width: 50px;
    height: 50px;
    background-color: rgba(255,0,0,0);
    transform: translate(-14px,-20px);
}
#PageBtnLeft:hover,
#PageBtnRight:hover {
	opacity: 0.8;
}
@media screen and (max-width: 1050px){
	body.openMenu #PageBtnLeft {
		left: 235px;
	}
    
}
@media screen and (max-width: 767px), screen and (max-height: 431px){
	#PageBtnLeft,
	#PageBtnRight {
		top: auto;
		bottom: 60px;
		z-index: 1100;
		height: 15px;
		border-color: white white transparent transparent;
	}
	#PageBtnLeft {
		left: 20px;
	}
	#PageBtnRight {
		right: 20px;
	}
	#PageBtnLeft:hover,
	#PageBtnRight:hover {
		opacity: 1;
	}
    
}

/*Footer*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, textarea, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
}
ol, ul, li {
    list-style: none;
}
.hide {
    display: none !important;
}
#Footer {
    padding: 5px 10px;
    padding-left: 10px;
    text-align: center;
    white-space: nowrap;
}
body.hasLogo #Footer {
    padding-left: 180px;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
    height: 0.01px;
}
#BtmArea {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #231f20;
    box-shadow: 0 -2px 6px rgba(0,0,0,0.2);
}
#Logo img, #Logo a img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
#Logo img, #Logo a, #Logo a img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#Logo {
    position: absolute;
    left: 10px;
    bottom: 6px;
    width: 160px;
    height: 42px;
}
#Footer .btnArea {
    float: right;
    padding-right: 30px;
}
#Footer .btnArea {
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}
#Footer .block {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
#Footer .block + .block {
    border-left: 0px solid #ddd;
    padding-left: 10px;
    margin-left: 7px;
}
#PageBtn li {
    position: relative;
    float: left;
    margin-right: 3px;
    background-color: #999;
    border-radius: 5px;
    padding: 2px 8px;
    min-width: 62px;
    height: 30px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: lighter;
    cursor: pointer;
}
#MenuList li, #IndexList li.folder::before, #PageSlider::before, #AutoInterval li.current, #SpMenuBtn, #AreaNavi, #PageBtn li, #AutoDirection li, .dialog .btn, .JumpBtn {
    background-color: rgb(77, 77, 79);
    color: rgb(255, 255, 255);
}
.JumpBtn {
    margin-right: 3px;
    background-color: #999;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    border: none;
    font-size: 12px;
    font-weight: bold;
}
#PageJump div {
    float: left;
}
#Footer .page .text {

    font-size: 11px;
    line-height: 1.3;

}
#PageJump span {

    color: #fff;

}
#PageJump .inPutArea {
    margin-top: 5px;
}
#PageInput {
    width: 60px;
    text-align: right;
    margin-left: 25px;
    padding: 0;
}
input[type="text"], input[type="password"], input[type="button"], input[type="submit"], button, select, textarea {
    color: inherit;
    font-family: inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
}
.textbox {
    border: 1px solid #6c6c6c;
    border: 1px solid #888;
    border-radius: 0;
    padding: 3px 6px;
    width: 100%;
    height: 26px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2) inset;
}
@media only screen and (max-width: 989px) {
    /*25.07.2021 เอาแถบดำใน Mobile ออก*/
    /*#BtmArea{
        display: none;
    }*/
    #PageBtnLeft,#PageBtnRight,#BtmArea {
        display: none !important;